---
import CardCaseStudy from './CardCaseStudy.astro'

const { title, caseStudies } = Astro.props
---

<section class="bs-container bs-mt-lg" id="case-studies">

  <!-- Title -->
  { title && <h2 class="bs-h2 text-center md:text-left">{ title }</h2> }

  <!-- First case study (full width) -->
  { caseStudies?.[0] && (
    <div class="bs-mt-md">
      <CardCaseStudy caseStudy={caseStudies[0]} />
    </div>
  ) }

</section>
